.act{
    padding: 0px;
}

.act li {
    list-style: none;
    color: white;
    background-color: #629fbe;
    width: 95%;
    margin: 15px;
    padding: 10px;
    justify-content: center;
    box-shadow: -1px 2px 5px 1px black;
}
.username {
    margin: 0px;
    font-size: large;
}

.title {
    margin: 0px;
    margin-bottom: 0px;
    margin-right: 200px;
    font-size: large;
}

#button {
    margin-left: 50px;
    float:right;
}

p {
    display: inline;
}